doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/test.js")
  body
    block content
    script(src="/javascripts/test.js")
    script(src="/javascripts/Router.js")
